/* For the entire form */

.jobInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: row2;
}

.companyInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row2;
    grid-row-end: row3;
}

.salaryInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row3;
    grid-row-end: row4;
}

.jobLocationInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row4;
    grid-row-end: row5;
}

.jobStartDateInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row5;
    grid-row-end: row6;
}

.jobApplicationClosingDateInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row6;
    grid-row-end: row7;
}

.applicationStatusInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row7;
    grid-row-end: row8;
}

.notesInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row8;
    grid-row-end: row9;
}

.newJobInfoSubmitInputItem {
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row9;
    grid-row-end: endRow;
    justify-self: center;
    align-self: center;
}

.cancelSubmitInputItem {
    grid-column-start: col2;
    grid-column-end: endCol;
    grid-row-start: row9;
    grid-row-end: endRow;
    justify-self: center;
    align-self: center;
}

.formContainer{
    display: grid;
    grid-template-columns: [col1] 25vw [col2] 25vw [endCol];
    grid-template-rows: [row1] 5vh [row2] 5vh [row3] 5vh [row4] 5vh [row5] 5vh [row6] 5vh [row7] 5vh [row8] 5vh [row9] 5vh [endRow];
    row-gap: 2vh;
}

/* For the fieldset container */

.fieldsetInputItem {
    grid-column-start: col2;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: endRow;
}

.fieldsetLabelItem {
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: endRow;
    align-self: center;
}

.fieldsetContainer {
    display: grid;
    grid-template-columns: [col1] 10vw [col2] 40vw [endCol];
    grid-template-rows: [row1] 5vh [endRow];
}