html {
    height: 100vh;
    width: 100vw;
    color: #d8d8d8;
}

body {
    height: 98vh;
    width: 100vw;
}

svg {
    filter: invert(100%);
}

.commonBorder {
    border-style: solid;
    border-width: 0.1vh;
    border-radius: 0.7vh;
}

.buttonDim {
    height: 4vh;
    width: 2vw;

}

/* add, modify and see JobInfo html page content alignment */

.pageItem{
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: endRow;
}

.pageContainer{
    display: grid;
    grid-template-columns: [col1] 100vw [endCol];
    grid-template-rows: [row1] 100vh [endRow];
    justify-items: center;
    align-items: center;
}

/* set the bg color for various elements */ 

.inputBGColor {
    background-color: #40444b;
}

.jobEntryPanelBGColor{
    background-color: #2f3136;
}

.bodyBGImage {
    background-image: url('/static/icons/destiny-wallpaper.jpg');
    background-size: cover;
}

.frostGlass {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(15px);
}