.jobEntryPanelItemContainer{
    grid-column-start: col2;
    grid-column-end: endCol;
    grid-row-start: row2;
    grid-row-end: endRow;
    overflow-y: scroll;
    height: 70vh;
    width: 58.5vw;
    place-self: start;
}

.searchFilterInputItem{
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: row2;
}

.bodyContainer{
    display: grid;
    grid-template-columns: [col1] 30vw [col2] 66vw [endCol];
    grid-template-rows: [row1] 20vh [row2] 76vh [endRow];
    row-gap: 4vh;
    column-gap: 4vw;
    justify-items: center;
}

.JobEntryPanelJobName{
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: row2;
}

.JobEntryPanelCompany{
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row1;
    grid-row-end: row2;
}

.JobEntryPanelApplicationStatus{
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row2;
    grid-row-end: endRow;
}

.JobEntryPanelSalary{
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row2;
    grid-row-end: endRow;
}

.jobEntryPanelModify{
    display: block;
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: endRow;
}

.jobEntryPanelSee{
    display: block;
    grid-column-start: col2;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: endRow;
}

.jobEntryPanelDelete{
    display: block;
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: endRow;
}

.jobEntryPanelButtonsContainerPart1{
    display: grid;
    grid-template-columns: [col1] 4vw [col2] 4vw [endCol];
    grid-template-rows: [row1] 10vh [endRow];
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row1;
    grid-row-end: endRow;
    justify-items: center;
    align-items: center;
}

.jobEntryPanelButtonsContainerPart2{
    display: grid;
    grid-template-columns: [col1] 4vw [endCol];
    grid-template-rows: [row1] 10vh [endRow];
    grid-column-start: col4;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: endRow;
    justify-items: center;
    align-items: center;
}

.jobEntryPanel {
    display: grid;
    grid-template-columns: [col1] 15vw [col2] 15vw [col3] 8vw [col4] 4vw [endCol];
    grid-template-rows: [row1] 5vh [row2] 5vh [endRow];
    height: 10vh;
    width: 42vw;
    margin-top: 1vh;
    margin-left: 8vw;
    align-items: center;
    justify-items: center;
}

.addButton{
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: row2;
}

.filterForm{
    display: grid;
    grid-template-columns: [col1] 20vw [col2] 20vw [col3] 20vw [col4] 20vw [endCol];
    grid-template-rows: [row1] 10vh [row2] 10vh [endRow];
    grid-column-start: col2;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: endRow;
    justify-items: center;
    align-items: center;
}

.searchBox{
    height: 5vh;
    width: 60vw;
    grid-column-start: col1;
    grid-column-end: col4;
    grid-row-start: row1;
    grid-row-end: row2;
}

.searchButton{
    
    grid-column-start: col4;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: row2;
    justify-self: left;
    margin-left: 1vw;
}

.jobStartDateInput{
    
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row2;
    grid-row-end: endRow;
}

.salaryInput{
    
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row2;
    grid-row-end: endRow;
}

.applicationStatusInput{
    
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row2;
    grid-row-end: endRow;
}

.jobLocationInput{
    
    grid-column-start: col4;
    grid-column-end: endCol;
    grid-row-start: row2;
    grid-row-end: endRow;
}

.searchFilterInputContainer{
    display: grid;
    grid-template-columns: [col1] 5vw [col2] 80vw [endCol];
    grid-template-rows: [row1] 10vh [row2] 10vh [endRow];
    justify-items: center;
    align-items: center;
    margin-top: 1vh;
}

/* for each filter item in form for search filter */

.inputBoxDim {
    height: 3vh;
    width: 15vw;
}

.searchFilterFieldsetInputItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row2;
    grid-row-end: endRow;
}

.searchFilterFieldsetLabelItem {
    grid-column-start: col1;
    grid-column-end: endCol;
    grid-row-start: row1;
    grid-row-end: row2;
}

.minSalaryFieldsetInputItem {
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row2;
    grid-row-end: endRow;
    height: 3vh;
    width: 7vw;
}

.maxSalaryFieldsetInputItem {
    grid-column-start: col2;
    grid-column-end: endCol;
    grid-row-start: row2;
    grid-row-end: endRow;
    height: 3vh;
    width: 7vw;
}

.fieldsetContainer {
    display: grid;
    grid-template-columns: [col1] 10vw [col2] 10vw [endCol];
    grid-template-rows: [row1] 3vh [row2] 7vh [endRow];
}

/* design for search filters and result stats: */

.statsContainer > section:nth-child(1) {
    display: grid;
    grid-template-columns: [col1] 22.5 [endCol];
    grid-template-rows: [row1] 4.7vh [row2] 4.7vh [row3] 4.7vh [row4] 4.7vh [row5] 4.7vh [row6] 4.7vh [row7] 4.7vh [endRow];
}

.statsContainer > section:nth-child(2) {
    display: grid;
    grid-template-columns: [col1] 22.5vw [endCol];
    grid-template-rows: repeat(6, [rowLine]5.5vh);/*[row1] 5.5vh [row2] 5.5vh [row3] 5.5vh [row4] 5.5vh [row5] 5.5vh [row6] 5.5vh [endRow]; */
}

.statsContainer > section > h4{
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
    margin-top: 1vh;
}

.statsContainer > section > span > label {
    margin-left: 1vw;
    font-weight: bold;
    font-size: 1.6vh;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}

.statsContainer > section > span > p {
    margin-left: 1vw;
    display: inline;
    color: #a7c949;
}

.statsContainer {
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row2;
    grid-row-end: endRow;
    justify-self: end;
    display: grid;
    grid-template-columns: [col1] 22.5vw [endCol];
    grid-template-rows: [row1] 33vh [row2] 33vh [endRow];
    row-gap: 4vh;
    height: 70vh;
    width: 22.5vw;
}