{% extends "baseJobInfo.html" %}

{% block cssStyleSheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/addJobInfoStyle.css')}}">
{% endblock %}

{% block title %}
Create New Entry
{% endblock %}

{% block applicationStatus %}
enabled
{% endblock %}

{% block applicationStatusNone %}
selected
{% endblock %}

{% block notesInputField %}
    <textarea maxlength="10000" name="notes" class="commonBorder inputBGColor"></textarea>
{% endblock %}

{% block resumeFile %}
    <section class="fileContainer">
        <input type="file" name="resumeFile" id="resumeFile">
        <button onclick="document.getElementById('resumeFile').value = ''; return false;" class="commonBorder">Reset</button>
    </section>
{% endblock %}

{% block coverLetterFile %}
    <section class="fileContainer">
        <input type="file" name="coverLetterFile" id="coverLetterFile">
        <button onclick="document.getElementById('coverLetterFile').value = ''; return false;" class="commonBorder">Reset</button>
    </section>
{% endblock %}

{% block extraFile %}
    <section class="fileContainer">
        <input type="file" name="extraFile" id="extraFile">
        <button onclick="document.getElementById('extraFile').value = ''; return false;" class="commonBorder">Reset</button>
    </section>
{% endblock %}

{% block actionButtons %}
<input type="image"  src="{{url_for('static', filename='icons/add.svg')}}" name="newJobInfoSubmit" class="buttonDim" id="addActionButton" formaction="/redirectAddJobInfo">
<input type="Image" src="{{url_for('static', filename='icons/goBack.svg')}}" name="goBack" class="buttonDim" id="cancelButton">
{% endblock %}