<!DOCTYPE html>
<html>
    <head>
        <title>Job Tracker</title>
        <link rel="icon" href="{{url_for('static', filename='icons/job application tracker icon.ico')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/commonStyle.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/indexStyle.css')}}">
    </head>
    <body class="bodyContainer bodyBGImage">
        <div class="statsContainer">
            <section class="commonBorder frostGlass">
                <h4>Search Filters:</h4>
                {% if searchFilters %}
                    <span>
                        <label> Search Text: </label>
                        <p>{{searchFilters['searchText']}}</p>
                    </span>
                    <span>
                        <label> Job Start Date After: </label>
                        <p>{{searchFilters['jobStartDate']}}</p>
                    </span>
                    <span>
                        <label> Minimum Salary: </label>
                        <p>{{searchFilters['salary']['min']}}</p>
                    </span>
                    <span>
                        <label>Maximum Salary: </label>
                        <p>{{searchFilters['salary']['max']}}</p>
                    </span>
                    <span>
                        <label>Application Status: </label>
                        <p>
                        {% if searchFilters['applicationStatus'] != 'None' %}
                            {{searchFilters['applicationStatus']}}
                        {% endif %}
                        </p>
                    </span>
                    <span>
                        <label>Job Location: </label>
                        <p>{{searchFilters['jobLocation']}}</p>
                    </span>
                {% else %}
                    <span>
                        <label> Search Text: </label>
                    </span>
                    <span>
                        <label> Job Start Date After: </label>
                    </span>
                    <span>
                        <label> Minimum Salary: </label>
                    </span>
                    <span>
                        <label>Maximum Salary: </label>
                    </span>
                    <span>
                        <label>Application Status: </label>
                    </span>
                    <span>
                        <label>Job Location: </label>
                    </span>
                {% endif %}
            </section>
            <section class="commonBorder frostGlass">
                <h4>Result Stats:</h4>
                {% if resultStatDict %}
                    <span>
                        <label>Number of Results: </label>
                        <p>{{jobInfoList|length}}</p>
                    </span>
                    <span>
                        <label>Mininum Salary: </label>
                        <p>{{resultStatDict['salary']['min']}}</p>
                    </span>
                    <span>
                        <label>Maximum Salary: </label>
                        <p>{{resultStatDict['salary']['max']}}</p>
                    </span>
                    <span>
                        <label>Latest Job Start Date: </label>
                        <p>{{resultStatDict['jobStartDate']['latest']}}</p>
                    </span>
                    <span>
                        <label>Last Job Start Date: </label>
                        <p>{{resultStatDict['jobStartDate']['last']}}</p>
                    </span>
                {% else %}
                    <span>
                        <label>Number of Results: </label>
                    </span>
                    <span>
                        <label>Mininum Salary: </label>
                    </span>
                    <span>
                        <label>Maximum Salary: </label>
                    </span>
                    <span>
                        <label>Latest Job Start Date: </label>
                    </span>
                    <span>
                        <label>Last Job Start Date: </label>
                    </span>
                {% endif %}
            </section>
        </div>
        <div class="commonBorder searchFilterInputContainer searchFilterInputItem frostGlass">
            <section class="addButton">
                <form method="get">
                    <input type="image" src="{{url_for('static', filename='icons/add.svg')}}" formaction="/addJobInfo" class="buttonDim">
                </form>
            </section>
            <form action="/redirectIndex" method="post" class="filterForm">
                <input type="text" placeholder="Search Job or Company" name="searchText" class="searchBox commonBorder inputBGColor">
                <input type = "image" name="submitSearchFilter" src="{{url_for('static', filename='icons/search.svg')}}" class="buttonDim searchButton">
                <fieldset class="jobStartDateInput fieldsetContainer">
                    <label class="searchFilterFieldsetLabelItem">Job Start Date After:</label>
                    <input type="date" name="jobStartDate" class="commonBorder inputBoxDim searchFilterFieldsetInputItem inputBGColor">
                </fieldset>
                <fieldset class="salaryInput fieldsetContainer">
                    <label class="searchFilterFieldsetLabelItem">Salary:</label>
                    <input type="number" placeholder="Min" name="salaryMin" class="commonBorder minSalaryFieldsetInputItem inputBGColor">
                    <input type="number" placeholder="Max" name="salaryMax" class="commonBorder maxSalaryFieldsetInputItem inputBGColor">
                </fieldset>
                <fieldset class="applicationStatusInput fieldsetContainer">
                    <label class="searchFilterFieldsetLabelItem">Status:</label>
                    <select name="applicationStatus" class="commonBorder inputBoxDim searchFilterFieldsetInputItem inputBGColor">
                        <option value="None">Choose...</option>
                        <option value="Applied">Applied</option>
                        <option value="I Rejected">I Rejected</option>
                        <option value="They Rejected">They Rejected</option>
                        <option value="Successful">Successful</option>
                    </select>
                </fieldset>
                <fieldset class="jobLocationInput fieldsetContainer">
                    <label class="searchFilterFieldsetLabelItem">Job Location:</label>
                    <input type="text" list="jobLocation" name="jobLocation" class="commonBorder inputBoxDim searchFilterFieldsetInputItem inputBGColor">
                    <datalist id="jobLocation">
                        {% for jobLocation in jobLocations %}
                            {% if JobLocation != '' %}
                                <option value="{{jobLocation}}"></option>
                            {% endif %}
                        {% endfor %}
                    </datalist>
                </fieldset>
            </form>
        </div>
        <ul class="commonBorder jobEntryPanelItemContainer frostGlass">
            {% if jobInfoList %}
                {% for jobInfo in jobInfoList %}
                    <li class="commonBorder jobEntryPanel jobEntryPanelBGColor">
                        <p class="JobEntryPanelJobName"> <label> Job: </label> {{jobInfo["job"]}}</p>
                        <p class="JobEntryPanelCompany"> <label> Company: </label> {{jobInfo["company"]}}</p>
                        <p class="JobEntryPanelSalary"> <label> Salary: </label> {{jobInfo["salary"]}}</p>
                        <p class="JobEntryPanelApplicationStatus"> <label> Status: </label> {{jobInfo["applicationStatus"]}}</p>
                        <form method="get" class="jobEntryPanelButtonsContainerPart1">
                            <input type="hidden" name="id" value="{{jobInfo['id']}}" > 
                            <input type="image" src="{{url_for('static', filename='icons/modify.svg')}}" formaction="/modifyJobInfo" class="buttonDim jobEntryPanelModify">
                            <input type="image" src="{{url_for('static', filename='icons/see.svg')}}" formaction="/seeJobInfo" class="buttonDim jobEntryPanelSee">
                        </form>
                        <form method="get" class="jobEntryPanelButtonsContainerPart2" onsubmit="return confirm('Delete the Entry?')">
                            <input type="hidden" name="id" value="{{jobInfo['id']}}" > 
                            <input type="image" src="{{url_for('static', filename='icons/delete.svg')}}" formaction="/redirectDeleteEntry" class="buttonDim jobEntryPanelDelete">
                        </form>
                    </li>
                    <br/>
                {% endfor%}
            {% endif %}
        </ul>
    </body>
</html>