<!DOCTYPE html>
<html>
    <head>
        <title>Modify Job Infomation</title>
    </head>
    <body>
        <div>
            <form action="/redirectModifyJobInfo" method="post">
                <fieldset>
                    <label>Job:</label>
                    <input type="text" name="job" value="{{ jobInfo['job'] }}">
                </fieldset>
                <fieldset>
                    <label>Company: </label>
                    <input type="text" name="company" value="{{ jobInfo['company'] }}">
                </fieldset>
                <fieldset>
                    <label>Salary:</label>
                    <input type="number" name="salary" value="{{ jobInfo['salary'] }}">
                </fieldset>
                <fieldset>
                    <label>Location:</label>
                    <input type="text" name="jobLocation" value="{{ jobInfo['jobLocation'] }}">
                </fieldset>
                <fieldset>
                    <label>Job Start Date:</label>
                    <input type="date" name="jobStartDate" value="{{ jobInfo['jobStartDate'] }}">
                </fieldset>
                <fieldset>
                    <label>Job Application Closing Date:</label>
                    <input type="date" name="jobApplicationClosingDate" value="{{ jobInfo['jobApplicationClosingDate'] }}">
                </fieldset>
                <fieldset>
                    <label>Status:</label>
                    <select name="applicationStatus" >
                        <option value="Applied" selected="{{ jobInfo['statusApplied'] }}">Applied</option>
                        <option value="I Rejected" selected="{{ jobInfo['statusIReject'] }}">I Rejected</option>
                        <option value="They Rejected" selected="{{ jobInfo['statusTheyReject'] }}">They Rejected</option>
                        <option value="Successful" selected="{{ jobInfo['statusSuccess'] }}">Successful</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label>Notes:</label>
                    <input type="text" name="notes" maxlength="10000"  value="{{ jobInfo['notes'] }}">
                </fieldset>
                <fieldset>
                    <label>Added Date:</label>
                    <input type="date" value="{{ jobInfo['startJobTrackDate'] }}" readonly>
                </fieldset>
                <fieldset>
                    <label>Last Modified Date:</label>
                    <input type="date" value="{{ jobInfo['modifiedJobTrackDate'] }}" readonly>
                </fieldset>
                <input type="image" src="" name="modifiedJobInfoSubmit" value="temp modify submit">
                <input type="image" src="" name="cancelSubmit" value="temp cancel" formaction="/redirect" >
            </form>
        </div>
    </body>
</html>