<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/commonStyle.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/modifyJobInfoStyle.css')}}">
    </head>
    <body class="pageContainer bodyBGImage">
        <form action="/redirectModifyJobInfo" method="post" class="commonBorder formContainer pageItem frostGlass">
            <input type="hidden" name="id" value="{{ jobInfo['id'] }}" >
            <fieldset class="jobInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Job:</label>
                <input type="text" name="job" value="{{ jobInfo['job'] }}" class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <fieldset  class="companyInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Company: </label>
                <input type="text" name="company" value="{{ jobInfo['company'] }}" class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <fieldset  class="salaryInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Salary:</label>
                <input type="number" name="salary" value="{{ jobInfo['salary'] }}" class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <fieldset  class="jobLocationInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Location:</label>
                <input type="text" name="jobLocation" value="{{ jobInfo['jobLocation'] }}" class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <fieldset  class="jobStartDateInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Job Start Date:</label>
                <input type="date" name="jobStartDate" value="{{ jobInfo['jobStartDate'] }}" class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <fieldset  class="jobApplicationClosingDateInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Job Application Closing Date:</label>
                <input type="date" name="jobApplicationClosingDate" value="{{ jobInfo['jobApplicationClosingDate'] }}" class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <fieldset  class="applicationStatusInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Status:</label>
                <select name="applicationStatus" class="commonBorder fieldsetInputItem inputBGColor">
                    {% if jobInfo['applicationStatus'] == '' %}
                        <option value="None" selected>Choose...</option>
                    {% else %}
                        <option value="None" >Choose...</option>
                    {% endif %}
                    {% if jobInfo['applicationStatus'] == 'Applied' %}
                        <option value="Applied" selected>Applied</option>
                    {% else %}
                        <option value="Applied">Applied</option>
                    {% endif %}
                    {% if jobInfo['applicationStatus'] == 'I Rejected' %}
                        <option value="I Rejected" selected>I Rejected</option>
                    {% else %}
                        <option value="I Rejected" >I Rejected</option>
                    {% endif %}
                    {% if jobInfo['applicationStatus'] == 'They Rejected' %}
                        <option value="They Rejected" selected>They Rejected</option>
                    {% else %}
                        <option value="They Rejected" >They Rejected</option>
                    {% endif %}
                    {% if jobInfo['applicationStatus'] == 'Successful' %}
                        <option value="Successful" selected>Successful</option>
                    {% else %}
                        <option value="Successful" >Successful</option>
                    {% endif %}
                </select>
            </fieldset>
            <fieldset  class="notesInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Notes:</label>
                <input type="text" name="notes" maxlength="10000"  value="{{ jobInfo['notes'] }}" class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <fieldset  class="startJobTrackDateInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Added Date:</label>
                <input type="date" value="{{ jobInfo['startJobTrackDate'] }}" readonly class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <fieldset  class="modifiedJobTrackDateInputItem fieldsetContainer">
                <label class="fieldsetLabelItem">Last Modified Date:</label>
                <input type="date" value="{{ jobInfo['modifiedJobTrackDate'] }}" readonly class="commonBorder fieldsetInputItem inputBGColor">
            </fieldset>
            <input type="image" src="{{url_for('static', filename='icons/modify.svg')}}" name="modifiedJobInfoSubmit" class="buttonDim modifiedJobInfoSubmitInputItem">
            <input type="image" src="{{url_for('static', filename='icons/goBack.svg')}}" name="cancelSubmit" formaction="/redirect" class="buttonDim cancelSubmitInputItem">
        </form>
    </body>
</html>