{% extends "baseJobInfo.html" %}

{% block cssStyleSheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seeJobInfoStyle.css')}}">
{% endblock %}

{% block title %}
See Job Information
{% endblock %}

{% block jobInputField %}
value="{{jobInfo['job']}}" readonly
{% endblock %}

{% block companyInputField %}
value="{{jobInfo['company']}}" readonly
{% endblock %}

{% block salaryInputField %}
value="{{jobInfo['salary']}}" readonly
{% endblock %}

{% block locationInputField %}
value="{{jobInfo['jobLocation']}}" readonly
{% endblock %}

{% block applicationStatus %}
disabled
{% endblock %}

{% if jobInfo['applicationStatus'] == '' %}
    {% block applicationStatusNone %}selected{% endblock %}
{% endif %}
{% if jobInfo['applicationStatus'] == 'Applied' %}
    {% block applicationStatusApplied %}selected{% endblock %}
{% endif %}
{% if jobInfo['applicationStatus'] == 'I Rejected' %}
    {% block applicationStatusIReject %}selected{% endblock %}
{% endif %}
{% if jobInfo['applicationStatus'] == 'They Rejected' %}
    {% block applicationStatusTheyReject %}selected{% endblock %}
{% endif %}
{% if jobInfo['applicationStatus'] == 'Successful' %}
    {% block applicationStatusSuccess %}selected{% endblock %}
{% endif %}

{% block jobStartDateInputField %}
value="{{jobInfo['jobStartDate']}}" readonly
{% endblock %}

{% block jobApplicationClosingDateInputField %}
value="{{jobInfo['jobApplicationClosingDate']}}" readonly
{% endblock %}

{% block extraEntryInfo %}
    <h3>Meta Data:</h3>
    <fieldset>
        <label>Created on: </label>
        <input type="text" value="{{jobInfo['startJobTrackDate']}}" readonly class="commonBorder inputBGColor">
    </fieldset>
    <fieldset>
        <label>Last Modified on: </label>
        <input type="text" value="{{jobInfo['modifiedJobTrackDate']}}" readonly class="commonBorder inputBGColor">
    </fieldset>
{% endblock %}

{% block notesInputField %}
    <textarea readonly maxlength="10000" class="commonBorder inputBGColor">
        {{jobInfo['notes']}}
    </textarea>
{% endblock %}

{% block resumeFile %}
    <section class="fileContainer">
        {% if jobInfo['resumeFile']['name'] != '' %}
            <p class="fileNameItem">{{ jobInfo['resumeFile']['name'] }}</p>
            <a href="/resumeFile/{{jobInfo['id']}}" class="filesOpenButton commonBorder">Open</a>
        {% else %}
            <p class="noFileItem">No File.</p>
        {% endif %}
    </section>
{% endblock %}

{% block coverLetterFile %}
    <section class="fileContainer">
        {% if jobInfo['coverLetterFile']['name'] != '' %}
            <p class="fileNameItem">{{ jobInfo['coverLetterFile']['name'] }}</p>
            <a href="/coverLetterFile/{{jobInfo['id']}}" class="filesOpenButton commonBorder">Open</a>
        {% else %}
            <p class="noFileItem">No File.</p>
        {% endif %}
    </section>
{% endblock %}

{% block extraFile %}
    <section class="fileContainer">
        {% if jobInfo['extraFile']['name'] != '' %}
            <p class="fileNameItem">{{ jobInfo['extraFile']['name'] }}</p>
            <a href="/extraFile/{{jobInfo['id']}}" class="filesOpenButton commonBorder">Open</a>
        {% else %}
            <p class="noFileItem">No File.</p>
        {% endif %}
    </section>
{% endblock %}

{% block actionButtons %}
<input type="Image" src="{{url_for('static', filename='icons/goBack.svg')}}" name="goBack" class="buttonDim" id="cancelButton">
{% endblock %}