<!DOCTYPE html>
<html>
    <head>
        <title>View Job Information</title>
        <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div>
            <form action="/redirect" method="post">
                <fieldset>
                    <label>Job:</label>
                    <input type="text" name="job" value="{{jobInfo['job']}}" readonly class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Company: </label>
                    <input type="text" name="company" value="{{jobInfo['company']}}" readonly class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Salary:</label>
                    <input type="number" name="salary" value="{{jobInfo['salary']}}" readonly class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Location:</label>
                    <input type="text" name="jobLocation" value="{{jobInfo['jobLocation']}}" readonly class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Job Start Date:</label>
                    <input type="date" name="jobStartDate" value="{{jobInfo['jobStartDate']}}" readonly class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Job Application Closing Date:</label>
                    <input type="date" name="jobApplicationClosingDate" value="{{jobInfo['jobApplicationClosingDate']}}" readonly  class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Status:</label>
                    <input type="text" value="{{jobInfo['applicationStatus']}}" readonly class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Notes:</label>
                    <input type="text" name="notes" maxlength="10000"  value="{{jobInfo['notes']}}" readonly class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Added Date:</label>
                    <input type="date" value="{{jobInfo['startJobTrackDate']}}" readonly class="commonBorder">
                </fieldset>
                <fieldset>
                    <label>Last Modified Date:</label>
                    <input type="date" value="{{jobInfo['modifiedJobTrackDate']}}" readonly class="commonBorder">
                </fieldset>
                <input type="Image" src="{{url_for('static', filename='goBack.svg')}}" name="goBack" class="commonBorder buttonDim">
            </form>
        </div>
    </body>
</html>